.quicksand-normal {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar style */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 6%;
}
.custom-line {
  height: 2px;
  background-color: #f8d409;
  width: 100%;
  margin: 20px 0;
  display: none;
}
.hero-img {
  width: 100%;
  height: auto;
}
.bars {
  width: 70px;
  height: 70px;
  display: none;
}
.main-text {
  font-size: 79px;
  font-weight: 800;
  /* justify-content: space-between; */
}
.secondary-text {
  font-size: 20px;
  margin-bottom: 40px;
}

.img-section {
  width: 100%;
  height: auto;
}
.school-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 62px;
  height: 62px;
  /* margin: 20px; */
}
.text-title {
  font-weight: 119px;
  font-size: 35px;
}

nav ul li {
  list-style: none;
}

nav li a {
  text-decoration: none;
}

.items {
  display: flex;
  gap: 50px;
  font-size: 20px;
}
.btn {
  width: 195px;
  height: 45px;
  background-color: orange;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  border: none;
}

/* Enroll section style */

.orange-clr {
  color: orange;
}
.skyblu-clr {
  color: #01acfd;
}
.blue-clr {
  color: #05d4df;
}
.purple-clr {
  color: #5d58ef;
}

.btn-black {
  width: 198px;
  height: 50px;
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: 700;
  border-radius: 15px;
  border: none;
}

.container {
  display: flex;
  align-items: center;
  margin: 20px 110px;
  justify-content: space-between;
}

.img-section {
  width: 100%;
  height: 100%;
}

/* main-section */
main {
  background-image: url(assets/bg.png);
  background-size: contain;
  align-items: center;
}

.standard {
  text-align: center;
  font-size: 46px;
  margin-bottom: 80px;
}

.card-section {
  display: flex;
  gap: 38px;
  text-align: center;
  justify-content: center;
  padding: 20px;
  margin-bottom: 80px;
}
.kidder-write {
  font-size: 20px;
  font-weight: 700;
  padding: 20px;
}
.card {
  width: 387px;
  height: 520px;
  padding: 45px;
  border-radius: 10px;
  align-items: center;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}
.readmor {
  font-size: 17px;
  font-weight: 800;
  padding: 27px;
}

.card img {
  width: 100px;
  height: auto;
  margin-bottom: 15px;
}

/* Gradient-color section */

.gredient-skyblue {
  background: linear-gradient(to bottom, #d0f1ff9d, #e9f8ff71);
}

.gredient-orange {
  background: linear-gradient(to bottom, #f7d69469, #ffff);
}
.gredient-purple {
  background: linear-gradient(to bottom, #f3e8ffdc, #fef0ff34);
}

.bar-img {
  display: block;
  margin: auto;
  margin-bottom: 80px;
}

.main-1div {
  bottom: 80px;
}

/* Our stories section */

.sec-galary {
  background: linear-gradient(to top, #e5c78a9c, #ffffff80);
  background-position: 100%;
  padding: 10px;
}

.galary {
  display: flex;
  margin-bottom: 80px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.galary-img {
  width: 540px;
  border-radius: 15px 15px 0 0;
}

.imgbox-1 {
  width: 540px;
  height: 550px;
  background-color: white;
  border-radius: 10px;
  position: relative;
}
/* middle button clor */

.mid-blue-btn {
  background-color: #3ca4e8;
  padding: 8px 12px;
  border-radius: 15px;
  border: none;
  color: white;
  position: absolute;
  left: 12px;
  bottom: 200px;
  margin: auto;
}

.small-meddle-btn {
  background-color: #95b226;
  padding: 8px 12px;
  border-radius: 15px;
  border: none;
  color: white;
  position: absolute;
  left: 12px;
  bottom: 70px;
  margin: auto;
}
.small-meddle-btn-2 {
  background-color: #5d58f0;
  padding: 8px 12px;
  border-radius: 15px;
  border: none;
  color: white;
  position: absolute;
  left: 12px;
  bottom: 70px;
  margin: auto;
}

.text {
  padding: 25px;
}
/*  */
.img-2 {
  width: 280px;
  height: 260px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
}

.small-img {
  display: flex;
  gap: 20px;
}

.child-img {
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.small-card {
  gap: 20px;
}
.text1 {
  margin: 10px;
}
.view-btn {
  display: block;
  margin: auto;
  margin-bottom: 40px;
}

/* Footer section */

.footer-section {
  width: 100%;
  height: 26rem;
  display: flex;
  background-color: #0112fd6c;
  color: white;
  justify-content: space-around;
  padding: 30px;
  /* align-items: center; */
}
.footer-title {
  display: flex;
  /* align-items: center; */
  gap: 10px;
  margin-bottom: 30px;
}

.footer-text {
  font-size: 35px;
}
.footer-p {
  font-size: 20px;
}

.item-1 {
  font-size: 15px;
  list-style: none;
}
.item {
  padding: 10px;
  font-size: 20px;
}
.footer-img {
  width: 82px;
  height: 81px;
}

.last-text {
  margin-bottom: 20px;
  font-size: 20px;
}
.footer-div {
  padding: 80px;
}
.marque {
  width: 100%;
  height: 30px;
  color: black;
  background-color: yellow;
  text-align: center;
  font-size: 22px;
}

/* Responsive Section */

@media only screen and (max-width: 768px) {
  .items,
  .text-title,
  .btn {
    display: none;
    /* justify-content: space-between; */
  }
  .bars {
    width: 70px;
    height: 70px;
    display: block;
  }
  .custom-line {
    height: 2px;
    background-color: #000;
    width: 100%;
    margin: 20px 0;
    display: block;
  }
  .container {
    flex-direction: column-reverse;
    align-items: center;
    margin: auto;
    padding: 25px;
    width: 100%;
    text-align: center;
  }
  .main-text {
    font-size: 43px;
    font-weight: 800;
  }
  .card-section {
    flex-direction: column;
    align-items: center;
  }
  .standard {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 50px;
  }
  .bar-img {
    display: none;
  }
  /* our stories section */

  .imgbox-1 {
    display: none;
  }
  .img-2 {
    width: 240px;
    height: 230px;
  }
  .text1 {
    font-size: 17px;
  }
  .galary {
    align-items: center;
    justify-content: center;
  }

  /* footer responsive */
  .footer-section {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .last-text {
    /* padding: 20px; */
    font-size: 25px;
  }
  .about {
    font-size: 30px;
  }
  .item {
    font-size: 25px;
  }
}
