.quicksand-normal {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

/* Navbar style */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 86px;
}
.hero-img {
  width: 100%;
  height: auto;
}
.main-text {
  font-size: 79px;
  font-weight: 800;
  /* justify-content: space-between; */
}
.secondary-text {
  font-size: 20px;
}

.img-section {
  width: 100%;
  height: auto;
}
.school-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 62px;
  height: 62px;
  margin: 20px;
}
.text-title {
  font-weight: 119px;
  font-size: 35px;
}

nav ul li {
  list-style: none;
}

nav li a {
  text-decoration: none;
}

.items {
  display: flex;
  gap: 50px;
  font-size: 20px;
}
.btn {
  width: 195px;
  height: 45px;
  background-color: orange;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  border: none;
}

/* Enroll section style */

.orange-clr {
  color: orange;
}
.skyblu-clr {
  color: #01acfd;
}
.blue-clr {
  color: #05d4df;
}
.purple-clr {
  color: #5d58ef;
}

.btn-black {
  width: 198px;
  height: 50px;
  background-color: black;
  color: white;
  font-size: 20px;
  border-radius: 15px;
  border: none;
}

.container {
  display: flex;
  align-items: center;
  margin: 20px 110px;
  justify-content: space-between;
}

.img-section {
  width: 100%;
  height: 100%;
}
main {
  background-image: url(assets/bg.png);
  background-size: contain;
  align-items: center;
  padding: 30px;
}

.standard {
  text-align: center;
}

.card-section {
  display: flex;
  gap: 28px;
  text-align: center;
  justify-content: center;
  padding: 20px;
}

.card {
  width: 247px;
  height: 420px;
  padding: 45px;
  border-radius: 10px;
  align-items: center;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}
.readmor {
  font-size: 20px;
  font-weight: 800;
}

.card img {
  width: 100px;
  height: auto;
  margin-bottom: 15px;
}

/* Gradient-color section */

.gredient-skyblue {
  background: linear-gradient(to bottom, #d0f1ff9d, #e9f8ff71);
}

.gredient-orange {
  background: linear-gradient(to bottom, #f7d69469, #ffff);
}
.gredient-purple {
  background: linear-gradient(to bottom, #f3e8ffdc, #fef0ff34);
}

.bar-img {
  display: block;
  margin: auto;
}

.main-1div {
  bottom: 80px;
}
